
# HOST URL
# This is the root url when you are logged in and accessing your signoz settings. 
# More specifically, it can be _changed_ by going to the following page: https://SIGNOZ_HOST/settings/custom-domain-settings
SIGNOZ_HOST=https://your.server.here

# API KEY
# Get from SIGNOZ_HOST/settings/api-keys
# Ensure it has permissions to read streams
SIGNOZ_API_KEY=your-api-key-here

# SSL VERIFY
# Enable/disable SSL verification (default: true)
SIGNOZ_SSL_VERIFY=true